body
{
    background-image: url(images//background.jpg);
    background-position: 99% 50%;
}
h1
{
    text-align: center;
}
//resistance
.containerResistance
{
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 20px;
    .resistance
    {
        border: 3px black solid;
        background-color:#ffd900;
        box-shadow: 10px 5px 5px black;
        border-radius: 10px;
        height: 100px;
        width: 40%;
    }
    .containerPanel
    {
        display: flex;
        flex-flow: row;
        width: 40%;
        justify-content: space-around;
        .selectionC1,.selectionC2,.selectionC3,.selectionC4
        {
            background-color: black;
            border: 2px black solid;
            border-radius: 7px;
            color: white;
            height: 40px;
        }
    }

}
//class JS
