body
{
    background-image: url(images//background.jpg);
    background-position: 99% 50%;
}
//resistance
.containerResistance
{
    display: flex;
    align-items: center;
    flex-flow: column;
    .resistance
    {
        border: 3px black solid;
        height: 100px;
        width: 30%;
    }
    .containerPanel
    {
        display: flex;
        flex-flow: row;
        width: 30%;
    }

}