body
{
    background-image: url(images//background.jpg);
    background-position: 99% 50%;
}
//resistance
.containerResistance
{
    display: flex;
    justify-content: center;
    .resistance
    {
        border: 3px black solid;
        height: 100px;
        width: 30%;
    }

}