.resistance{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    background-color: white;
    border: 3px black solid;
    min-width: 300px;
    width: 40%;
    

    .anneau1{
        background-color: red;
        border-right: solid 2px black;
    }

    .anneau2{
        background-color: green;
        border-right: solid 2px black;
    }

    .anneau3{
        background-color: violet;
        border-right: solid 2px black;
    }

    .anneau4{
        background-color: black;
    }
    

}
// select{
//     margin-right: 20px;
// }

.inputettext{
text-align: center;
}

.selection{
    width: 300px;
}

.submit{
    display: block;
   
}